body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

input:focus, textarea:focus {
    outline: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Intro */
.intro {
    background: url("../img/intro/bg.jpg") center no-repeat;
    height: 1080px;
}

.intro__logo {
    margin-top: 165px;
}

.intro__inner {
    text-align: center;
    color: #fff;
}

.intro__title {
    font-size: 34px;
    letter-spacing: 5px;
    line-height: 40px;
    font-weight: 900;

    margin-top: 158px;
}

.intro__subtitle {
    font-size: 34px;
    font-weight: 300;
}

.intro__subtitle:after {
    content: "";
    display: block;
    width: 105px;
    height: 2px;
    background-color: #fff;
    margin: 50px auto;
}

.intro__footer {
    margin-top: 226px;
}

.intro__btn {
    color: #fff;
    transition: color, background-color .5s linear;
}

.intro__btn:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.6);
}

.intro__chevron-down {
    margin-top: 75px;
}

/* Menu */

.menu {
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    max-width: 500px;
    padding: 21px 0;
}

/* Nav */
.nav {
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color: #333;
    margin-left: 51px;
    font-weight: 700;
    transition: color .2s linear;
}

.nav__link.active, .nav__link:hover {
    color: #ada074;;
}

/* Section */
.section {
    text-align: center;
}

.section__header {
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 5px;
    color: #000;
    font-weight: 700;
}

.section__header:after {
    content: "";
    display: block;
    width: 81px;
    height: 2px;
    background-color: #000;
    margin: 50px auto;
}

/* About */

.about {
    padding-bottom: 100px;
}

.about__inner {
    width: 100%;
    max-width: 824px;
    margin: 0 auto;
}

.about__section {
    margin-top: 129px;
}

.about__text {
    width: 100%;
    max-width: 605px;
    margin: 0 auto;

    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #868585;
}

.about__row {
    display: flex;
    margin-top: 70px;
}

.about__column {
    padding: 0 15px;
    flex: 0 0 33.33%;
}

/* Portfolio */
.portfolio__section {
    padding-top: 107px;
    padding-bottom: 63px;
    background-color: #f3f3f3;
}

.portfolio__nav .nav__link:first-child {
    margin-left: 0;
}

.portfolio__row {
    margin-top: 142px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio__column {
    flex: 1 1 33.33%;
    margin-top: 26px;
}

.item-portfolio {
    width: 536px;
    height: 362px;
    background-color: #333333;
}

.portfolio__footer {
    margin-top: 70px;
}

.portfolio__btn {
    color: #333333;
    transition: background-color, color .5s linear;
}

.portfolio__btn:hover {
    color: #fff;
    background-color: #333;
}

/* Partners */
.partners {
    padding: 101px 0;
    background: url("../img/partners/bg.jpg") no-repeat center;
    height: 389px;
}

.partners__inner {
    width: 100%;
    max-width: 595px;
    margin: 0 auto;
}

.partners__title {
    margin-bottom: 96px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.partners__row {
    display: flex;
    justify-content: space-between;
}

/* Contact */

.contact__section {
    padding: 177px 0 102px;
}

.contact__inner {
    width: 100%;
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: left;
}

.contact__label {
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.contact__form-group {
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.contact__feedback-form {
    width: 100%;
    max-width: 390px;
    display: flex;
    flex-wrap: wrap;
}

.contact__input {
    margin-top: 15px;
    background-color: #f8f7f7;
    border: none;
    height: 37px;
    width: 160px;
    border-top: 1px solid #000;
}

.contact__email-input,
.contact__email-label {
    margin-left: 60px;
}

.contact__form-group.textarea {
    width: 100%;
    max-width: 390px;
    margin-top: 80px;
}

.contact__message-input {
    width: 390px;
    height: 122px;
}

.contact__send-btn {
    background-color: #fff;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin: 41px 290px 0;
    padding: 8px 30px;
    transition: color, background-color .3s linear;
    border: 1px solid #333;
}

.contact__send-btn:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

.contact__info {
    margin-left: 81px;
    width: 100%;
    max-width: 263px;
}

.contact__text {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 300;
}

.contact__signature {
    margin-top: 40px;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 900;
    text-align: left;
}

.contact__links {
    display: flex;
    margin-top: 26px;
}

.contact__link {
    color: #333333;
    transition: color .3s linear;
}

.contact__link:hover {
    color: rgba(51, 51, 51, 0.54);
}

.contact__item:last-child {
    margin-left: 20px;
}

.contact__email {
    text-align: left;
}

/* Footer */
.footer {
    background-color: #3c3c3c;
    padding: 37px 0 51px;
}

.footer__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 270px;
    text-align: center;
}

.footer__nav {
    margin-top: 44px;
}

.footer__link {
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #a4a4a4;
    font-weight: 400;
}

.footer__link:first-child {
    margin-left: 0;
}

.footer__copyright {
    margin-top: 35px;
    font-size: 14px;
    color: #6c6c6c;
}

.footer__logo {
    width: 125px;
    height: 73px;
    opacity: .4;
}

/* Item About */

.item-about__icon {
    width: 92px;
    height: 92px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-about__title {
    margin: 40px 0;
    font-size: 22px;
    letter-spacing: 4px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.item-about__text {
    font-size: 14px;
    line-height: 26px;
    color: #868585;
    font-weight: 300;
    text-align: center;
}

/* Button */
.btn {
    text-decoration: none;
    border: 1px solid;
    padding: 17px 42px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}